/***************
   FONT FAMILY 
 ***************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik:wght@400;500;600;800&display=swap");

/************
    NAVBAR 
 ************/
nav {
  display: flex;
  align-items: center;
  margin-top: 35px;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
}
.brand {
  margin-left: 120px;
}
nav p a {
  text-decoration: none;
  color: black;
  margin-left: 34px;
}
nav p {
  margin-left: 320px;
}
.nav-icon {
  margin-left: 34px;
}
/*********************
   FIRST INTERFACE 
**********************/
section {
  display: flex;
  margin-top: 80px;
  align-items: center;
}
.first-interface-content {
  margin-left: 120px;
}
.first-interface-content-title {
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
  font-size: 45px;
}
.main-camera {
  margin-left: 140px;
}
.first-interface-content-para {
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}
.button {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  background-color: #e02c6d;
  padding: 10px;
  border-radius: 18px;
  color: #ffffff;
}
.fa-arrow-right {
  margin-left: 10px;
}
/**********************
   ECOMMERCE WEBSITE  
 **********************/
.ecommerce-icons {
  margin-left: 120px;
  margin-top: 80px;
}
.ecommerce-icons img {
  margin-left: 40px;
}
/*******************
    ITEM FOR SELL 
 *******************/
.item-head {
  text-align: center;
  margin-top: 100px;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
}
.item-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 50px;
  justify-items: center;
}
.item {
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 10px;
}
.fa-star {
  color: #fb8200;
}
.fa-star-half-alt {
  color: #fb8200;
}
.see-more-button {
  margin-top: 50px;
}
.see-more-button a {
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  color: #e02c6d;
  margin-left: 1100px;
  margin-top: 50px;
}
