/***************
   FONT FAMILY 
 ***************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik:wght@400;500;600;800&display=swap");

/************
    NAVBAR 
 ************/
nav {
  display: flex;
  align-items: center;
  margin-top: 35px;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
}
.brand {
  margin-left: 120px;
}
nav p a {
  text-decoration: none;
  color: black;
  margin-left: 34px;
}
nav p {
  margin-left: 320px;
}
.nav-icon {
  margin-left: 34px;
}
/*********************
   FIRST INTERFACE 
**********************/
main {
  display: grid;
}
section {
  display: flex;
  margin-top: 80px;
  align-items: center;
}
.first-interface-content {
  margin-left: 120px;
}
#animation {
  position: relative;
  animation: myfirst 5s linear 5s infinite alternate;
}
@keyframes myfirst {
  0% {
    color: #632626;
  }
  25% {
    color: orange;
  }
  50% {
    color: blue;
  }
  75% {
    color: green;
  }
  100% {
    color: tomato;
  }
}
.first-interface-content-title {
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
  font-size: 45px;
}
.main-camera {
  margin-left: 140px;
}
.first-interface-content-para {
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  width: 85%;
  text-align: justify;
}
.button {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  background-color: #e02c6d;
  padding: 10px;
  border-radius: 18px;
  color: #ffffff;
}
.fa-arrow-right {
  margin-left: 10px;
}
/**********************
   ECOMMERCE WEBSITE  
 **********************/
.ecommerce-icons {
  margin-left: 120px;
  margin-top: 80px;
}
.ecommerce-icons img {
  margin-left: 40px;
}
/*******************
    ITEM FOR SELL 
 *******************/
.item-head {
  text-align: center;
  margin-top: 100px;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
}
.item-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 50px;
  justify-items: center;
}
.item {
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
}
.fa-star {
  color: #fb8200;
}
.fa-star-half-alt {
  color: #fb8200;
}
.see-more-button {
  margin-top: 50px;
}
.see-more-button a {
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  color: #e02c6d;
  margin-left: 1100px;
  margin-top: 50px;
}

.nature-photografy-group {
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
  margin-top: 150px;
  margin-bottom: 150px;
}
.nature-photografy-img img {
  border-radius: 10px;
  margin-left: 65px;
}
.nature-photografy-content {
  margin-left: 70px;
  width: 500px;
}
.nature-photografy-para {
  text-align: justify;
}
.join-now {
  margin-top: 30px;
}
.nature-photografy-content a {
  text-decoration: none;
  font-size: 16px;
  background-color: #e02c6d;
  color: #ffffff;
  padding: 8px;
}
/*************
    FOOTER 
 *************/
footer {
  background-color: #000b49;
  color: white;
  display: grid;
  justify-items: center;
  width: 100%;
}
footer h2 {
  padding-top: 30px;
}
.footer-para {
  margin: 5px;
}
.social-icon {
  margin-left: 10px;
}
.social-icon-para {
  padding-bottom: 25px;
}
/*****************
  MEDEA QUERY 
 *****************/

/* FOR MOBILE */
@media only screen and (max-width: 688px) {
  nav {
    grid-template-columns: repeat(1, 1fr);
  }
  .brand {
    font-size: 80%;
  }
  .navbar {
    display: none;
  }
  section {
    flex-direction: column;
  }
  .first-interface {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 30px;
    margin-left: -185px;
  }
  .first-interface-content-title {
    font-size: 150%;
    display: inline;
  }
  .first-interface-content-title h1 {
    margin-left: -20px;
  }
  .first-interface-content-para {
    width: 30%;
    text-align: justify;
  }
  .main-camera img {
    margin-top: 100px;
    margin-left: -520px;
    weight: 300px;
    width: 300px;
  }
  .ecommerce-icons {
    display: none;
  }
  .all-items {
    margin-left: -780px;
  }
  .item-section {
    grid-template-columns: repeat(1, 1fr);
  }
  .nature-photografy-group {
    grid-template-columns: repeat(1, 1fr);
    margin-left: -780px;
  }
  .nature-photografy-img img {
    height: 200px;
    width: 100;
    margin-left: 0px;
  }
  .nature-photografy-content h1 {
    margin-left: 55px;
  }
  .nature-photografy-para {
    width: 65%;
    margin-left: 53px;
  }
  .join-now {
    margin-left: 265px;
  }
  .see-more-button {
    margin-left: 100px;
  }
  .footer {
    width: 100%;
  }
}
